{% extends "blog/base.html" %}
{% block content %}
<div class="about">
  <h1>About this Blog</h1>
  <h3>Thanks for checking this out</h3>
  <h4>This blog is for tech enthusiast. You will find all new tech related information
     on this site as well as occasional blog post from passionate people on other
     topics too other than technology.</h4>
  <img src="https://images.unsplash.com/photo-1559709907-628d0c7c1878?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="about-img" alt="">
</div>

{% endblock %}
