<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap" rel="stylesheet">
  </head>
  <body>


      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
        <a class="navbar-brand brand" href="{% url 'post_list' %}">My Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'about'%}">About</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="https://www.github.com"><i class="fab fa-github mr-1"></i>Github</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="https://www.linkedin.com"><i class="fab fa-linkedin mr-1"></i>Linkedin</a>
            </li>
          </ul>
          <ul class="navbar-nav justify-content-end">
            {% if user.is_authenticated %}
              <li class="mr-sm-2 active">
                <a class="nav-link" href="{% url 'post_create' %}"><i class="fas fa-edit"></i>New Post</a>
              </li>
              <li class="mr-sm-2 active">
                <a class="nav-link" href="{% url 'draft_list' %}">Drafts</a>
              </li>
              <li class="mr-sm-2 active">
                <a class="nav-link logout" href="{% url 'logout' %}">Logout</a>
              </li>
              <li class="mr-sm-2 nav-link active welcome">Welcome: {{ user.username }}</li>
            {% else %}
              <li class="mr-sm-2">
                <a class="nav-link login" href="{% url 'login'%}"><i class="fas fa-user mr-1"></i>Login</a>
              </li>
            {% endif %}

          </ul>
        </div>
        </div>
      </nav>
      <div class="container">
        {% block content %}
        {% endblock %}

      </div>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

  </body>
</html>
